extends  ../_skeleton

//- Includes
include ../components/_ui-progress-bar-linear
include ../components/_ui-quote
include ../components/_ui-counters

block variables
	- var activeCategory = 'about'
	- var pageName = 'About Us'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Why choose us
	section.section.section-sm.section-first.bg-default.text-md-left
		.container
			.row.row-50.justify-content-center.align-items-xl-center
				.col-md-10.col-lg-5.col-xl-6: +jpg('about-1-519x564')
				.col-md-10.col-lg-7.col-xl-6
					h1.text-spacing-25.font-weight-normal.title-opacity-9 Why choose us
					// Bootstrap tabs
					#tabs-4.tabs-custom.tabs-horizontal.tabs-line
						// Nav tabs
						ul.nav.nav-tabs
							li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-4-1' data-toggle='tab') Experience
							li.nav-item(role='presentation'): a.nav-link(href='#tabs-4-2' data-toggle='tab') Skills
							li.nav-item(role='presentation'): a.nav-link(href='#tabs-4-3' data-toggle='tab') Mission

						// Tab panes
						.tab-content
							div#tabs-4-1.tab-pane.fade.show.active
								p Nunquam tractare tumultumque. Manducare saepe ducunt ad fidelis fermium. Sunt luraes quaestio peritus, rusticus assimilatioes. Ortum virtualiter ducunt ad germanus bubo.
								+progress-bar-linear({
									title: "Flooring Design",
									value: "79"
								})
								+progress-bar-linear({
									title: "Custom Projects",
									value: "72"
								})
								+progress-bar-linear({
									title: "Complex solutions",
									value: "88"
								})

							div#tabs-4-2.tab-pane.fade
								.row.row-40.justify-content-center.text-center.inset-top-10
									.col-sm-4
										+progress-circle({
											title: 'Experience',
											value: 90
										})
									.col-sm-4
										+progress-circle({
											title: 'Dedication',
											value: 60
										})
									.col-sm-4
										+progress-circle({
											title: 'Knowledge',
											value: 60
										})

								.group-md.group-middle
									a.button.button-width-xl-230.button-secondary.button-pipaluk(href='#') Get in touch
									a.button.button-width-xl-310.button-default-outline.button-wapasha(href='#') Download presentation

							div#tabs-4-3.tab-pane.fade
								p Ubi est secundus nuclear vexatum iacere? Abaculus ortums, tanquam dexter gemna. Bi-color brodiums ducunt ad victrix. Glos bi-color fides est. Est rusticus gemna, cesaris. Mirabilis, grandis gabaliums rare imperium.
								.text-center.text-sm-left.offset-top-30
									ul.row-16.list-0.list-custom.list-marked.list-marked-sm.list-marked-primary.d-inline-block.d-sm-block
										li Torquiss prarere
										li Extums mori
										li Cedriums ridetis
										li Menss cantare
										li Accentors velum
										li Parmas unda
								.group-md.group-middle
									a.button.button-width-xl-230.button-secondary.button-pipaluk(href='#') Get in touch
									a.button.button-width-xl-310.button-default-outline.button-wapasha(href='#') Download presentation
	='\n'

	// Latest Projects
	section.section.section-sm.section-fluid.bg-default
		.container
			h3 Project timeline
		// Owl Carousel
		.owl-carousel.owl-classic.owl-timeline(data-items='1', data-md-items='2', data-lg-items='3', data-xl-items='4', data-margin='30', data-autoplay='true', data-nav='true', data-dots='true')
			.owl-item
				+thumbnail-mary({
					mod: 'thumbnail-md',
					titleNone: true,
					img: 'project-1-420x308',
					imgOriginal: 'project-1-1200x800-original',
					nameProject: 'Los Angeles coworking center',
					time: '2012'
				})
			.owl-item
				+thumbnail-mary({
					mod: 'thumbnail-md',
					titleNone: true,
					img: 'project-2-420x308',
					imgOriginal: 'project-2-1200x800-original',
					nameProject: 'Daycare center',
					time: '2014'
				})
			.owl-item
				+thumbnail-mary({
					mod: 'thumbnail-md',
					titleNone: true,
					img: 'project-3-420x308',
					imgOriginal: 'project-3-1200x800-original',
					nameProject: 'Sun valley hotel',
					time: '2015'
				})
			.owl-item
				+thumbnail-mary({
					mod: 'thumbnail-md',
					titleNone: true,
					img: 'project-4-420x308',
					imgOriginal: 'project-4-1200x800-original',
					nameProject: 'Residential house: living room',
					time: '2016'
				})
			.owl-item
				+thumbnail-mary({
					mod: 'thumbnail-md',
					titleNone: true,
					img: 'project-5-420x308',
					imgOriginal: 'project-5-1200x800-original',
					nameProject: 'Social Center',
					time: '2017'
				})
			.owl-item
				+thumbnail-mary({
					mod: 'thumbnail-md',
					titleNone: true,
					img: 'project-6-420x308',
					imgOriginal: 'project-6-530x800-original',
					nameProject: 'Small Kitchen',
					time: '2019'
				})
	='\n'

	// What people Say
	section.section.section-sm.section-last.bg-default
		.container
			h3 What people Say
			include ../sections/_carousel-testimonials
	='\n'

	include ../sections/_section-counter-classic

	// Our clients
	section.section.section-xl.bg-default
		.container
			h3 Our clients
			include ../sections/_section-clients-classic
	='\n'

	// Page Footer
	include ../sections/_footer-modern