extends  ../_skeleton

//- Includes
include ../components/_ui-posts
include ../components/_ui-pagination
include ../components/_ui-quote
include ../components/_ui-box-comment
include ../components/_form-comments

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Blog post'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Blog Post
	section.section.section-xl.bg-default.text-left
		.container: .row.row-70
			.col-lg-8
				.blog-post
					+post-classic({
						blogPost: true,
						title: 'Flooring Pro’s Secrets to Raise Your Home Value',
						badge: { mod: 'badge-secondary', text: 'Flooring' },
						time: { datetime: '2019-11-30', dateText: 'Nov 30, 2019' },
						text: 'Menss experimentum in tectum! Ubi est fortis lura? Ridetis saepe ducunt ad dexter equiso. Cobaltums sunt lunas de salvus rumor. Est flavum assimilatio, cesaris. A falsis, extum brevis vox. Cum racana messis, omnes fideses convertam talis, neuter frondatores. Barbatus mensa.',
						img: 'post-1-770x430'
					})
					+quote-classic({
						mod: 'quote-classic-big',
						text: 'Pol, a bene fraticinida. Est barbatus parma, cesaris. Regius era virtualiter imperiums palus est. Domesticus, dexter parmas sed mire magicae.'
					})

					p Clabulare, adiurator, et demolitione. Est barbatus guttus, cesaris. Ecce, superbus repressor! Sunt itineris tramitemes examinare dexter, noster mensaes. Est alter fraticinida, cesaris. Est domesticus rumor, cesaris. Sunt fugaes anhelare secundus, flavum caculaes. A falsis, rumor secundus habitio. Byssus undas, tanquam velox mensa. Amicitias peregrinationes! Emeritis pulchritudines ducunt ad index. Pol, a bene cedrium, guttus! Ubi est velox cannabis? Heu, poeta!
					.blog-post-bottom-panel.group-md.group-justify
						.blog-post-tags
							a(href='#') News
							a(href='#') Flooring
							a(href='#') Tips
						div: .group-md.group-middle
							span.social-title Share
							div: +widget-list([], '', 'list-inline-sm social-list')
				.blog-post-comments
					h5.text-spacing-100.font-weight-normal 3 Comments
					+box-comment({
						postComment: true,
						img: 'user-1-119x119',
						author: 'John Doe',
						text: 'Eheu. Teres exemplars ducunt ad idoleum. Ubi est peritus cotta? Abaculus potuss, tanquam peritus zeta. Cur hippotoxota ortum? Eras volare, tanquam audax poeta. Scutums peregrinatione in ferox piscinam! Cum amor assimilant, omnes.',
						datetime: '2019-11-30',
						time: 'Nov 30, 2019'
					})
						+box-comment({
							postComment: true,
							img: 'user-2-119x119',
							author: 'Jessica Brown',
							text: 'Orexis peregrinationess, tanquam barbatus decor. Cum elevatus manducare, omnes liberies vitare.',
							datetime: '2019-11-30',
							time: 'Nov 30, 2019'
						})
					+box-comment({
						postComment: true,
						img: 'user-3-119x119',
						author: 'Nick Stevens',
						text: 'Galluss cadunt in festus tolosa! Cum homo congregabo, omnes fugaes captis raptus, alter particulaes. Sunt cobaltumes aperto camerarius, audax diatriaes. Deuss persuadere in virundum! Idoleums unda!',
						datetime: '2019-11-30',
						time: 'Nov 30, 2019'
					})

				.blog-post-comments
					+form-comments({customUnique: '5'})

			.col-lg-4
				include ../sections/_post-sidebar
	='\n'

	// Page Footer
	include ../sections/_footer-modern