extends  ../_skeleton

block variables
	- var activeCategory = 'gallery'
	- var pageName = 'Full-width gallery'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Grid Gallery
	section.section.section-xl.section-fluid.bg-default.text-center.isotope-wrap
		.container-fluid
			include ../sections/_section-full-width-gallery
			.button-wrap: button.button.button-md.button-default-outline.button-wapasha Load More
	='\n'

	// Page Footer
	include ../sections/_footer-modern