extends  ../_skeleton

//- Includes
include ../components/_ui-posts
include ../components/_ui-pagination

block variables
	- var activeCategory = 'blog'
	- var pageName = 'Grid blog'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Grid blog
	section.section.section-xl.bg-default.text-md-left
		.container
			.row.row-60
				include ../sections/_section-grid-blog

				.col-sm-6.col-lg-4
					+post-modern({
						img: 'post-13-370x307',
						time: {datetime: '2019-07-04', dateNumber: '04', dateMonth: 'July'},
						title: 'Causes & Cures for Flooring Troubles',
						text: 'Clemens, nobilis exsuls solite gratia de flavum, talis nutrix. Altus, superbus lixas velox pugna de bi-color, bassus clinias. Placidus, alter...'
					})

				.col-sm-6.col-lg-4
					+post-modern({
						img: 'post-14-370x307',
						time: {datetime: '2019-07-17', dateNumber: '17', dateMonth: 'July'},
						title: 'How to Protect Your Floors',
						text: 'Vae. Cur fraticinida nocere? Ubi est emeritis lacta? Gemnas manducare in neuter amivadum! Lotus, regius adiurators foris quaestio de...'
					})

				.col-sm-6.col-lg-4
					+post-modern({
						img: 'post-15-370x307',
						time: {datetime: '2019-07-22', dateNumber: '22', dateMonth: 'July'},
						title: 'Red Oak vs. White Oak Hardwood',
						text: 'Volare nunquam ducunt ad domesticus tabes. Fatalis habena semper carpseriss pes est. A falsis, adelphis audax fuga. Placidus compater...'
					})

			.pagination-wrap
				+pagination-bootstrap(null, 1, 4)
	='\n'

	// Page Footer
	include ../sections/_footer-modern