extends  ../_skeleton

block variables
	- var activeCategory = 'gallery'
	- var pageName = 'Masonry gallery'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Grid Gallery
	section.section.section-xl.bg-default.text-center.isotope-wrap
		.container
			.isotope-filters.isotope-filters-horizontal
				//- Isotope Filters
				button.isotope-filters-toggle.button.button-md.button-icon.button-icon-right.button-default-outline.button-wapasha(data-custom-toggle='#isotope-8', data-custom-toggle-hide-on-blur='true')
					span.icon.fa.fa-caret-down
					| Filter
				ul#isotope-8.isotope-filters-list
					li: a.active(href='#', data-isotope-filter='*', data-isotope-group='gallery') All
					li: a(href='#', data-isotope-filter='Type 1', data-isotope-group='gallery') Apartments
					li: a(href='#', data-isotope-filter='Type 2', data-isotope-group='gallery') Offices
					li: a(href='#', data-isotope-filter='Type 3', data-isotope-group='gallery') Corporate designs
			.row.row-30.isotope(data-lightgallery='group')
				.col-sm-4.col-lg-3.isotope-item(data-filter='Type 3')
					+thumbnail-mary({
						mod: 'thumbnail-xs',
						img: 'masonry-gallery-1-270x300',
						imgOriginal: 'grid-gallery-1-570x800-original',
						numberProject: '1'
					})
				.col-sm-8.col-lg-6.isotope-item(data-filter='Type 2')
					+thumbnail-mary({
						mod: 'thumbnail-lg thumbnail-custom-mobile',
						img: 'masonry-gallery-2-570x300',
						imgOriginal: 'grid-gallery-2-530x800-original',
						numberProject: '2'
					})
				.col-sm-4.col-lg-3.isotope-item(data-filter='Type 1')
					+thumbnail-mary({
						mod: 'thumbnail-xs',
						img: 'masonry-gallery-3-270x300',
						imgOriginal: 'grid-gallery-3-1200x800-original',
						numberProject: '3'
					})
				.col-sm-8.col-lg-6.isotope-item(data-filter='Type 3')
					+thumbnail-mary({
						mod: 'thumbnail-lg thumbnail-custom-mobile',
						img: 'masonry-gallery-4-570x300',
						imgOriginal: 'grid-gallery-4-530x800-original',
						numberProject: '4'
					})
				.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 2')
					+thumbnail-mary({
						mod: 'thumbnail-xs',
						img: 'masonry-gallery-5-270x300',
						imgOriginal: 'grid-gallery-5-1200x800-original',
						numberProject: '5'
					})
				.col-sm-6.col-md-4.col-lg-3.isotope-item(data-filter='Type 1')
					+thumbnail-mary({
						mod: 'thumbnail-xs',
						img: 'masonry-gallery-6-270x300',
						imgOriginal: 'grid-gallery-6-1200x800-original',
						numberProject: '6'
					})

			.button-wrap: button.button.button-md.button-default-outline.button-wapasha Load More
	='\n'

	// Page Footer
	include ../sections/_footer-modern