extends  ../_skeleton

include ../components/_ui-product
include ../components/_ui-pagination
include ../components/_ui-box-comment
include ../components/_form-comments

block variables
	- var activeCategory = 'shop'
	- var pageName = 'Single product'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Single Product
	section.section.section-sm.section-first.bg-default
		.container
			.row.row-50
				.col-lg-6
					.slick-product
						// Slick Carousel
						.slick-slider.carousel-parent(data-swipe="true", data-items="1" data-child="#child-carousel", data-for="#child-carousel")
							.item: .slick-product-figure: +png('product-10-530x480')
							.item: .slick-product-figure: +png('product-11-530x480')
							.item: .slick-product-figure: +png('product-12-530x480')
						.slick-slider.child-carousel#child-carousel(data-for=".carousel-parent", data-arrows="true", data-items="3", data-sm-items="3", data-md-items="3", data-lg-items="3", data-xl-items="3", data-slide-to-scroll="1", data-md-vertical='true')
							.item: .slick-product-figure: +png('product-mini-4-169x152')
							.item: .slick-product-figure: +png('product-mini-5-169x152')
							.item: .slick-product-figure: +png('product-mini-6-169x152')

				.col-lg-6
					.single-product
						h3 Bastille Gray
						.group-md.group-middle
							.single-product-price $200.00
							.box-rating
								span.icon.fa.fa-star
								span.icon.fa.fa-star
								span.icon.fa.fa-star
								span.icon.fa.fa-star
								span.icon.fa.fa-star-half-o
						p A falsis, equiso salvus canis. Ubi est superbus capio? Cum hibrida manducare, omnes ionicis tormentoes amor brevis, rusticus omniaes. Nunquam talem abactor. Cur lapsus accelerare? Cum musa experimentum!

						.divider.divider-30

						ul.list.list-description.d-inline-block.d-md-block
							li
								span Material:
								span Limestone
							li
								span Weight:
								span 15 kg
							li
								span Dimensions:
								span 60 x 60 cm

						.group-sm.group-middle
							div.product-stepper: input.form-input(type="number" data-zeros="true" value="1" min="1" max="1000")
							div: a.button.button-secondary.button-pipaluk(href='#') Add to cart

						.divider.divider-40
						.group-md.group-middle
							span.social-title Share
							div: +widget-list([], '', 'list-inline-sm social-list')

			// Bootstrap tabs
			#tabs-5.tabs-custom.tabs-horizontal.tabs-corporate
				// Nav tabs
				ul.nav.nav-tabs
					li.nav-item(role='presentation'): a.nav-link.active(href='#tabs-5-1' data-toggle='tab') Testimonials (1)
					li.nav-item(role='presentation'): a.nav-link(href='#tabs-5-2' data-toggle='tab') Additional information
					li.nav-item(role='presentation'): a.nav-link(href='#tabs-5-3' data-toggle='tab') Delivery and payment

				// Tab panes
				.tab-content
					div#tabs-5-1.tab-pane.fade.show.active
						+box-comment({
							img: 'user-1-119x119',
							author: 'John Doe',
							text: 'Pol, a bene decor, teres absolutio! Est alter quadra, cesaris. Mirabilis decor satis acquireres gabalium est. Heu. Lanista, fuga, et repressor. Sunt planetaes imitari regius, primus orgiaes.',
							datetime: '2019-11-30',
							time: 'Nov 30, 2019'
						})

						+form-comments({customUnique: '4'})

					div#tabs-5-2.tab-pane.fade
						p Cur vortex nocere? Varius, fidelis compaters interdum imitari de regius, emeritis zirbus. Pol, bassus victrix! Ubi est camerarius parma? Cur magister potus? Ionicis tormentos ire, tanquam gratis brabeuta. Mirabilis urbss ducunt ad elevatus. Consilium de superbus habitio, perdere tabes! Peritus, raptus fugas virtualiter vitare de grandis, brevis spatii. Pol, mens! Azureus boreas mechanice prensionems.
					div#tabs-5-3.tab-pane.fade
						p Castus hippotoxotas ducunt ad torquis. Cur burgus credere? Orexis, vigil, et lura. Particula, hibrida, et solitudo. Menss ire! A falsis, abactus fatalis mens. A falsis, fuga azureus hydra. Ubi est festus musa? Amicitias mori, tanquam brevis gallus. Velum diligenter ducunt ad nobilis mens. Glutens sunt danistas de flavum equiso. Caesiums sunt voxs de barbatus imber. Nobilis fermiums ducunt ad historia.
	='\n'

	// Single Product
	section.section.section-sm.section-last.bg-default
		.container
			h4 Related Products
			.row.row-40.justify-content-center
				.col-sm-6.col-md-5.col-lg-3
					+product({
						img: 'product-13-270x280',
						title: 'Burdur Pearl',
						price: '235'
					})
				.col-sm-6.col-md-5.col-lg-3
					+product({
						img: 'product-18-270x280',
						title: 'Seagrass Limestone',
						price: '254'
					})
				.col-sm-6.col-md-5.col-lg-3
					+product({
						img: 'product-19-270x280',
						title: 'Ibiza white',
						price: '650'
					})
				.col-sm-6.col-md-5.col-lg-3
					+product({
						img: 'product-5-270x280',
						title: 'Lymra Limestone',
						price: '650'
					})

	// Page Footer
	include ../sections/_footer-modern