extends  ../_skeleton

//- Includes
include ../components/_ui-quote

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Testimonials'

block page 
	// Page Header
	+header-modern

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-breadcrumbs'
	})

	// Testimonials #1
	section.section.section-sm.section-first.bg-default
		.container
			h3 #1
			.row.row-50.row-sm
				.col-md-6
					+quote-modern({
						img: 'user-11-75x75',
						author: 'Catherine Williams',
						status: 'Client',
						text: 'Peritus elevatus sed mire quaestios bulla est. Eposs messis! Zeluss sunt cottas de raptus planeta. Burguss mori in audax palatium! Cum acipenser mori, omnes uriaes tractare.'
					})
				.col-md-6
					+quote-modern({
						img: 'user-12-75x75',
						author: 'Rupert Wood',
						status: 'Client',
						text: 'Hydras sunt quadras de albus accentor. Sunt lapsuses imperium brevis, albus adgiumes. Xiphias de ferox index, vitare hydra! Cum ionicis tormento volare, omnes hippotoxotaes fallere!'
					})
	='\n'

	// Testimonials #2
	section.section.section-sm.bg-default
		.container
			h3 #2
			.row.row-xxl.row-70.justify-content-center
				.col-sm-10.col-md-6.col-lg-5.col-xl-4
					+quote-creative({
						img: 'user-13-87x87',
						author: 'Rupert Wood',
						text: 'Eheu, usus! Pol, a bene advena. Repressor lotus luna est. Pol, bulla! Itineris tramitems peregrinationes in talis cubiculum! Cum hibrida mori, omnes rumores resuscitabo teres, azureus.'
					})

				.col-sm-10.col-md-6.col-lg-5.col-xl-4
					+quote-creative({
						img: 'user-14-87x87',
						author: 'Catherine Williams',
						text: 'Emeritis, mirabilis quadras superbe manifestum de pius, fidelis extum. Fortis parma etiam resuscitabos medicina est. Sunt zeluses dignus talis, regius homoes. Domesticus, dexter triticums.'
					})

				.col-sm-10.col-md-6.col-lg-5.col-xl-4
					+quote-creative({
						img: 'user-15-87x87',
						author: 'Sam Peterson',
						text: 'Ecce, palus! Est albus plasmator, cesaris. Sunt particulaes promissio bi-color, fidelis deuses. Vae, teres vortex! Flavum fiscinas ducunt ad indictio. Pol. Palus volares, tanquam fidelis lapsus.'
					})

	='\n'

	// Testimonials #3
	section.section.section-sm.bg-default
		.container
			h3 #3
			.row.row-sm.row-30.justify-content-center
				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+quote-nancy({
						img: 'testimonials-1-368x503',
						quote: 'They have a very innovative vision',
						text: 'Nunquam captis finis. Ratione ires, tanquam altus spatii. Nocere una ducunt ad magnum clabulare. Superbus medicina recte gratias demissio est. Caniss peregrinatione, tanquam bassus cotta. Capios crescere in sala! Est regius omnia, cesaris. Indictio peregrinationess, tanquam salvus solem.',
						imgUser: 'user-13-87x87',
						author: 'Rupert Wood',
						status: 'Client'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+quote-nancy({
						img: 'testimonials-2-368x503',
						quote: 'These guys are very experienced',
						text: 'Vae, ferox detrius! Frondator, bromium, et zeta. Ususs ortum, tanquam secundus pulchritudine. Vae. Ubi est grandis epos? Studere patienter ducunt ad fortis amicitia. Placidus palus virtualiter apertos luba est. Nunquam perdere orexis. Lotus, castus caesiums acceleratrix amor de camerarius, regius nomen.',
						imgUser: 'user-14-87x87',
						author: 'Catherine Williams',
						status: 'Client'
					})

				.col-sm-9.col-md-6.col-lg-5.col-xl-4
					+quote-nancy({
						img: 'testimonials-3-368x503',
						quote: 'The greatest experts in Flooring',
						text: 'Abactuss sunt solems de salvus rector. Cum luna peregrinatione, omnes castores perdere dexter, barbatus omniaes. A falsis, musa domesticus idoleum. Nunquam locus plasmator. Pol, a bene armarium, calcaria! Sensorems sunt indictios de fatalis devirginato. Velox, albus guttuss aegre.',
						imgUser: 'user-15-87x87',
						author: 'Sam Peterson',
						status: 'Client'
					})

	='\n'

	// Testimonials #4
	section.section.section-sm.section-last.bg-default
		.container
			h3 #4
			include ../sections/_carousel-testimonials
	='\n'

	// Page Footer
	include ../sections/_footer-modern