// Owl Carousel
.owl-carousel.owl-modern(data-items='1', data-stage-padding='15', data-margin='30', data-dots='true', data-animation-in="fadeIn", data-animation-out="fadeOut", data-autoplay='true')
	+quote-lisa({
		img: 'user-16-100x100',
		text: 'I just wanted to say thank you and the team very much for the brilliant service around renovating the floors at our house. You were absolutely brilliant and we can see you’ve gone the extra mile matching the floors between rooms etc. You’ve kept the place really tidy too, cannot ask for more.',
		author: 'Catherine Williams',
		status: 'Client'
	})
	+quote-lisa({
		img: 'user-17-100x100',
		text: 'Fantastic service from start to finish. After our ceiling collapsed we never thought our damaged floor would look so good again. These guys worked in a tight time frame and were very accommodating to the other trades working in the same area to produce brilliant results and restore our badly damaged floor to look like new!',
		author: 'Rupert Wood',
		status: 'Client'
	})
	+quote-lisa({
		img: 'user-18-100x100',
		text: 'The floor looks magnificent and the parquet in the hall sets it off beautifully. Your men were excellent, you were delightful and nothing was too much trouble for you. You have very tidy workers, covering everything, and the house was left in a good shape as the condition allowed.',
		author: 'Sam Brown',
		status: 'Client'
	})