// Counter Classic
section.section.bg-default
	+parallax({
		img: 'bg-cta-2',
		innerClass: 'section-xl context-dark'
	})
		.container
			.row.row-50.justify-content-center.border-classic
				.col-sm-6.col-md-3
					+counter-classic({
						number: '12',
						title: 'Awards'
					})
				.col-sm-6.col-md-3
					+counter-classic({
						number: '194',
						title: 'Projects'
					})
				.col-sm-6.col-md-3
					+counter-classic({
						number: '2',
						symbol: 'k',
						title: 'Reviews'
					})
				.col-sm-6.col-md-3
					+counter-classic({
						number: '25',
						title: 'People in team'
					})
='\n'