+parallax({
  img: 'bg-cta-3',
  innerClass: 'section-xl section-inset-custom-1 context-dark'
})
  .container: .row.justify-content-center: .col-md-9.col-lg-7.col-xl-6
    h3.oh: span.d-inline-block.wow.slideInDown(data-wow-delay='0s') Ready for a new experience?
    p.oh: span.d-inline-block.wow.slideInUp(data-wow-delay='.2s') Parquetry is ready to give your floor a completely new look, which is achieved throgh numerous solutions you can find at our store.
    a.button.button-secondary.button-ujarak.wow.fadeInUp(href='shop.html' data-wow-delay='.1s') Shop now