+parallax({
	img: 'bg-cta-2',
	innerClass: 'section-xl section-inset-custom-2 context-dark'
})
	.container: .row.justify-content-md-end: .col-md-7.col-lg-6: .text-width-small
		h3.oh.font-weight-normal: span.d-inline-block.wow.slideInDown(data-wow-delay='0s') Get New & Amazing
			br
			| Flooring From Us!
		p.text-spacing-75.wow.fadeInRight(data-wow-delay='.1s') Parquetry offers lots of great flooring solutions for home owners. Whether you prefer laminate or natural stone flooring, our experts can manufacture and install anything you like!
		a.button.button-secondary.button-ujarak.wow.fadeInUp(href='shop.html' data-wow-delay='.2s') Shop now